section {
    padding: 4.5 rem 1.5rem;
}
img{
    width: 100%;
}

.swiper-wrapper .container {
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.swiper-wrapper .container img {
    width: 400px;
    position: absolute;
    bottom: -500px;
    right: 200px;
}
.home-text{
    padding: 0 150px;
}
.home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}
.home-text h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.btn {
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 160px;
}
.btn .bx {
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}
.btn:hover {
    background: var(--light-orange-color);
    transition: 0.2s ease;
}
.swiper-button-next {
    background: url(img/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}
.swiper-button-next::after{
    display: none;
}
.swiper-button-prev {
    background: url(img/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-left: 20px;
}
.swiper-button-prev::after{
    display: none;
}